{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <input id="cmd" v-model="command">
        <button v-on:click="callApi">submit</button>
        <div>${ message }$</div>
        {#<ul>#}
        {#<li v-for="item in list">#}
        {#${ item }#}
        {#</li>#}
        {#</ul>#}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app5 = new Vue({
            el: '#app',
            delimiters: ['${', '}$'],
            data: {
                command: '',
                message: ''
            },
            methods: {
                callApi: function () {
                    axios.post('/api?cmd=' + this.command).then(response => {
                        this.message = response.data;
                    });
                }
            }
        })
    </script>
{% endblock %}